* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}
nav{
    background: blue;
    height: 80px;
    width: 100%;
}
label.logo{
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float:right;
    margin-right: 20px;
    
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background:orchid;
    transition: 0.5s;

}
section{
    background: url(./circ.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    

}
body{
    background: rgba(186,212,255,0.5);
    min-height: 100vh;

}
img{
    width: 200px;
    height: 200px;
    transition: 1.5s all;
    object-position: center;
    object-fit: center;
    display: inline-block;

}
#main img:hover{
    transform: scale(1.1);
}

#main{
    margin: 0 auto;
    align-items: center;
    width: 60vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition:150ms all;
}
#main >img{
    margin:10px;
    width:30%;
}
.color{
    background-color: antiquewhite;
    background: url(./track.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}
.colo{
    background: url(./contactimg.jpg) no-repeat;
    background-size: cover;
    height: 100vh;

}
.center {
    border-radius: 45%;
    object-position: center;
    margin-left: 42%;
    margin-top: 50px;
    display: block;
    object-fit: cover;
    
  }
#col{
    font-weight: 10px;
    font-size: 30px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    color: aliceblue;
}
h1{
    font-size: 75px;
    padding-top: 40px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: solid;
    color: white;
    
}
.identify{
    font-size: 30px;
    padding-top: 105px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-decoration: solid;
    color: white;
}
