@font-face {
    font-family: 'Graphik';
    src: url(../../fonts/GraphikRegular.otf);
}
.main{
    margin-top: 5rem;
    box-sizing: border-box;
    border: 1px solid #E8E8F7;
    border-radius: 4px;
    width: 710px;
    height: 318px;
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: flex-start;
}

#amount{
    font-family: 'Graphik';
    font-weight: 500;
    padding: 24px;
}

#amount-box{
    font-family: 'Graphik';
    font-weight: 500;
    box-sizing: border-box;
    border: 1px solid #E8E8F7;
    border-radius: 4px;
    margin-left: 24px;
    margin-top: 58px;
    width: 664px;
    height: 74px;
    padding: 16px;
    display: flex;
    gap: 108px;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    align-items: center;
}

#slide-typo {
    font-family: 'Graphik';
    font-weight: 500;
    position: absolute;
    margin-left: 75px;
    margin-top: 132px;
}

#slide-middle{
        color: #B2B2B9;
        height: 88px;
        position:absolute;
}

#typo-middle{ 
    font-family: 'Graphik';
    font-weight: 500;
    color: #B2B2B9;
    margin-left: 35px;
    margin-top: 30px;
}

#btc-box{
    font-family: 'Graphik';
    font-weight: 500;
    box-sizing: border-box;
    border: 1px solid #E8E8F7;
    border-radius: 4px;
    margin-left: 24px;
    margin-top: 220px;
    width: 664px;
    height: 74px;
    padding: 16px;
    display: flex;
    gap: 108px;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    align-items: center;
}

#slide-last{
    margin-top: 40px;;
    width:500px;
    color: #B2B2B9;
}